<% url = track.persisted? ? track_url(track) : tracks_url %>
<% button_label = track.persisted? ? "Edit " : "Create " %>
<form action="<%= url %>" method="POST">
<% if track.persisted? %>
	<input type="hidden" name="_method" value="PATCH">
<% end %>
<%= auth_token %>
<p><label for="title">Title:</label>
<input type="text" name="track[title]" id="title"></p>

<p><label for="regular">Regular:</label>
<input type="radio" 
			 name="track[track_type]" 
			 id="regular"
			 value="regular"></p>

<p><label for="bonus">Bonus:</label>
<input type="radio" 
			 name="track[track_type]" 
			 id="bonus"
			 value="bonus"></p>

<input type="submit" value="<%= button_label %>track!">
</form>