<h3>Create New News Feed</h1>

<form>
  <ul class="errors">

  </ul>
  <label for="title">Title: </label>
  <input type="text" name="title" value="<%=feed.escape("title")%>">

  <br>

  <label for="url">URL: </label>
  <input type="text" name="url" value="<%=feed.escape("url")%>">

  <br>

  <input class="submit-new" type="submit" value="Submit">

</form>
<a class="back-to-index" href="/"><< Back to Index</a>
